.form {
  background: rgb(237, 236, 236);
  box-shadow: 2px 8px 11px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 8px 11px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 8px 11px 0px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.form .submitButton {
  border-radius: 10px;
  margin: 0.5rem 0rem;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #0a58a7;
  font-size: 1.2rem;
  font-weight: bold;
  color: #eeeeee;
  cursor: pointer;
}
